USE [master]
GO
/****** Object:  Database [MuseumTechDB]    Script Date: 02.03.2026 11:09:08 ******/
CREATE DATABASE [MuseumTechDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MuseumTechDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MuseumTechDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MuseumTechDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MuseumTechDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MuseumTechDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MuseumTechDB]
GO
/****** Object:  Table [dbo].[Exhibitions]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitions](
	[ExhibitionID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Theme] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Location] [nvarchar](200) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExhibitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Excursions]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Excursions](
	[ExcursionID] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionID] [int] NULL,
	[EmployeeID] [int] NULL,
	[ExcursionDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[MaxVisitors] [int] NULL,
	[CurrentVisitors] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[MeetingPoint] [nvarchar](200) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExcursionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcursionVisitors]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcursionVisitors](
	[ExcursionVisitorID] [int] IDENTITY(1,1) NOT NULL,
	[ExcursionID] [int] NULL,
	[VisitorID] [int] NULL,
	[RegistrationDate] [datetime] NULL,
	[Attended] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExcursionVisitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ExhibitionPopularity]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Создание представления для отчета "Популярность выставок":
CREATE VIEW [dbo].[vw_ExhibitionPopularity] AS
SELECT 
    ex.ExhibitionID,
    ex.Name AS ExhibitionName,
    ex.Theme,
    COUNT(DISTINCT e.ExcursionID) AS ExcursionCount,
    SUM(e.CurrentVisitors) AS TotalVisitors,
    COUNT(DISTINCT ev.VisitorID) AS UniqueVisitors,
    MIN(e.ExcursionDate) AS FirstExcursion,
    MAX(e.ExcursionDate) AS LastExcursion
FROM Exhibitions ex
LEFT JOIN Excursions e ON ex.ExhibitionID = e.ExhibitionID
LEFT JOIN ExcursionVisitors ev ON e.ExcursionID = ev.ExcursionID
GROUP BY ex.ExhibitionID, ex.Name, ex.Theme;
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExhibitionExponats]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExhibitionExponats](
	[ExhibitionExponatID] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitionID] [int] NULL,
	[ExponatID] [int] NULL,
	[DisplayOrder] [int] NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExhibitionExponatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ActiveExhibitions]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Создание представления для "Активные выставки":
CREATE VIEW [dbo].[vw_ActiveExhibitions] AS
SELECT 
    ex.*,
    COUNT(ee.ExponatID) AS ExponatCount,
    CONCAT(emp.FirstName, ' ', emp.LastName) AS CuratorName
FROM Exhibitions ex
LEFT JOIN ExhibitionExponats ee ON ex.ExhibitionID = ee.ExhibitionID
LEFT JOIN Employees emp ON ex.CreatedBy = emp.EmployeeID
WHERE ex.Status = 'Активна'
GROUP BY 
    ex.ExhibitionID, ex.Name, ex.Theme, ex.Description,
    ex.StartDate, ex.EndDate, ex.Location, ex.Status,
    ex.CreatedBy, ex.CreatedDate, emp.FirstName, emp.LastName;
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exponats]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exponats](
	[ExponatID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryNumber] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[YearCreated] [int] NULL,
	[CategoryID] [int] NULL,
	[Condition] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[PhotoPath] [nvarchar](500) NULL,
	[History] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExponatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[VisitorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[TypeID] [int] NULL,
	[GroupName] [nvarchar](50) NULL,
	[CourseNumber] [int] NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[RegistrationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorTypes]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorTypes](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Исторические документы', N'Документы, фотографии, письма')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Техника и оборудование', N'Историческое оборудование и инструменты')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Награды и достижения', N'Медали, кубки, грамоты')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Login], [Password], [FirstName], [LastName], [Position], [Email], [Phone], [IsActive]) VALUES (1, N'admin', N'admin123', N'Иван', N'Петров', N'Администратор', N'admin@museum.ru', N'+79991234567', 1)
INSERT [dbo].[Employees] ([EmployeeID], [Login], [Password], [FirstName], [LastName], [Position], [Email], [Phone], [IsActive]) VALUES (2, N'guide1', N'guide123', N'Мария', N'Сидорова', N'Экскурсовод', N'guide1@museum.ru', N'+79992345678', 1)
INSERT [dbo].[Employees] ([EmployeeID], [Login], [Password], [FirstName], [LastName], [Position], [Email], [Phone], [IsActive]) VALUES (3, N'curator', N'curator123', N'Алексей', N'Иванов', N'Хранитель', N'curator@museum.ru', N'+79993456789', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Excursions] ON 

INSERT [dbo].[Excursions] ([ExcursionID], [ExhibitionID], [EmployeeID], [ExcursionDate], [StartTime], [EndTime], [MaxVisitors], [CurrentVisitors], [Status], [MeetingPoint], [CreatedBy], [CreatedDate]) VALUES (1, 1, 2, CAST(N'2024-12-10' AS Date), CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), 20, 3, N'Запланирована', N'Вход в музей', 1, CAST(N'2026-02-02T21:30:19.443' AS DateTime))
INSERT [dbo].[Excursions] ([ExcursionID], [ExhibitionID], [EmployeeID], [ExcursionDate], [StartTime], [EndTime], [MaxVisitors], [CurrentVisitors], [Status], [MeetingPoint], [CreatedBy], [CreatedDate]) VALUES (2, 1, 2, CAST(N'2024-12-10' AS Date), CAST(N'14:00:00' AS Time), CAST(N'15:00:00' AS Time), 20, 1, N'Запланирована', N'Вход в музей', 1, CAST(N'2026-02-02T21:30:19.443' AS DateTime))
INSERT [dbo].[Excursions] ([ExcursionID], [ExhibitionID], [EmployeeID], [ExcursionDate], [StartTime], [EndTime], [MaxVisitors], [CurrentVisitors], [Status], [MeetingPoint], [CreatedBy], [CreatedDate]) VALUES (3, 2, 2, CAST(N'2024-12-12' AS Date), CAST(N'11:00:00' AS Time), CAST(N'12:00:00' AS Time), 15, 1, N'Запланирована', N'Кабинет истории', 1, CAST(N'2026-02-02T21:30:19.443' AS DateTime))
SET IDENTITY_INSERT [dbo].[Excursions] OFF
GO
SET IDENTITY_INSERT [dbo].[ExcursionVisitors] ON 

INSERT [dbo].[ExcursionVisitors] ([ExcursionVisitorID], [ExcursionID], [VisitorID], [RegistrationDate], [Attended]) VALUES (1, 1, 1, CAST(N'2026-02-02T21:30:19.450' AS DateTime), 1)
INSERT [dbo].[ExcursionVisitors] ([ExcursionVisitorID], [ExcursionID], [VisitorID], [RegistrationDate], [Attended]) VALUES (2, 1, 2, CAST(N'2026-02-02T21:30:19.450' AS DateTime), 1)
INSERT [dbo].[ExcursionVisitors] ([ExcursionVisitorID], [ExcursionID], [VisitorID], [RegistrationDate], [Attended]) VALUES (3, 1, 3, CAST(N'2026-02-02T21:30:19.450' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ExcursionVisitors] OFF
GO
SET IDENTITY_INSERT [dbo].[ExhibitionExponats] ON 

INSERT [dbo].[ExhibitionExponats] ([ExhibitionExponatID], [ExhibitionID], [ExponatID], [DisplayOrder], [AddedDate]) VALUES (1, 1, 1, 1, CAST(N'2026-02-02T21:30:19.437' AS DateTime))
INSERT [dbo].[ExhibitionExponats] ([ExhibitionExponatID], [ExhibitionID], [ExponatID], [DisplayOrder], [AddedDate]) VALUES (2, 1, 3, 2, CAST(N'2026-02-02T21:30:19.437' AS DateTime))
INSERT [dbo].[ExhibitionExponats] ([ExhibitionExponatID], [ExhibitionID], [ExponatID], [DisplayOrder], [AddedDate]) VALUES (3, 2, 2, 1, CAST(N'2026-02-02T21:30:19.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExhibitionExponats] OFF
GO
SET IDENTITY_INSERT [dbo].[Exhibitions] ON 

INSERT [dbo].[Exhibitions] ([ExhibitionID], [Name], [Theme], [Description], [StartDate], [EndDate], [Location], [Status], [CreatedBy], [CreatedDate]) VALUES (1, N'История техникума', N'История', N'Экспозиция, посвященная 70-летней истории техникума', CAST(N'2024-09-01' AS Date), CAST(N'2024-12-31' AS Date), N'Выставочный зал', N'Активна', 1, CAST(N'2026-02-02T21:30:19.430' AS DateTime))
INSERT [dbo].[Exhibitions] ([ExhibitionID], [Name], [Theme], [Description], [StartDate], [EndDate], [Location], [Status], [CreatedBy], [CreatedDate]) VALUES (2, N'Техника XX века', N'Техника', N'Выставка исторического оборудования', CAST(N'2024-10-15' AS Date), CAST(N'2025-01-15' AS Date), N'Кабинет истории', N'Активна', 1, CAST(N'2026-02-02T21:30:19.430' AS DateTime))
INSERT [dbo].[Exhibitions] ([ExhibitionID], [Name], [Theme], [Description], [StartDate], [EndDate], [Location], [Status], [CreatedBy], [CreatedDate]) VALUES (3, N'Учебный процесс вчера и сегодня', N'Образование', N'Эволюция учебного процесса за 70 лет', CAST(N'2024-11-01' AS Date), CAST(N'2025-02-28' AS Date), N'Зал №2', N'Активна', 1, CAST(N'2026-02-02T21:43:59.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[Exhibitions] OFF
GO
SET IDENTITY_INSERT [dbo].[Exponats] ON 

INSERT [dbo].[Exponats] ([ExponatID], [InventoryNumber], [Name], [Description], [YearCreated], [CategoryID], [Condition], [Status], [PhotoPath], [History], [CreatedDate], [CreatedBy]) VALUES (1, N'ТМ-2024-001', N'Первый диплом выпускника 1950 года', N'Диплом об окончании техникума первого выпуска', 1950, 1, N'Хорошее', 1, NULL, N'Принадлежал Иванову П.С., первому выпускнику', CAST(N'2026-02-02T21:30:19.427' AS DateTime), 1)
INSERT [dbo].[Exponats] ([ExponatID], [InventoryNumber], [Name], [Description], [YearCreated], [CategoryID], [Condition], [Status], [PhotoPath], [History], [CreatedDate], [CreatedBy]) VALUES (2, N'ТМ-2024-002', N'Станок токарный 1965 года', N'Учебный токарный станок, использовавшийся в мастерских', 1965, 2, N'Удовлетворительное', 1, NULL, N'Использовался для обучения токарей до 1990-х', CAST(N'2026-02-02T21:30:19.427' AS DateTime), 1)
INSERT [dbo].[Exponats] ([ExponatID], [InventoryNumber], [Name], [Description], [YearCreated], [CategoryID], [Condition], [Status], [PhotoPath], [History], [CreatedDate], [CreatedBy]) VALUES (3, N'ТМ-2024-003', N'Кубок победителей олимпиады 1985', N'Кубок за первое место в областной олимпиаде', 1985, 3, N'Отличное', 1, NULL, N'Завоеван студентами под руководством Сидоровой М.И.', CAST(N'2026-02-02T21:30:19.427' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Exponats] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitors] ON 

INSERT [dbo].[Visitors] ([VisitorID], [FirstName], [LastName], [TypeID], [GroupName], [CourseNumber], [Email], [Phone], [RegistrationDate]) VALUES (1, N'Анна', N'Кузнецова', 1, N'ТМ-21', 3, N'anna@student.tech', N'+79991112233', CAST(N'2026-02-02T21:30:19.440' AS DateTime))
INSERT [dbo].[Visitors] ([VisitorID], [FirstName], [LastName], [TypeID], [GroupName], [CourseNumber], [Email], [Phone], [RegistrationDate]) VALUES (2, N'Дмитрий', N'Волков', 1, N'ТМ-22', 2, N'dmitry@student.tech', N'+79992223344', CAST(N'2026-02-02T21:30:19.440' AS DateTime))
INSERT [dbo].[Visitors] ([VisitorID], [FirstName], [LastName], [TypeID], [GroupName], [CourseNumber], [Email], [Phone], [RegistrationDate]) VALUES (3, N'Елена', N'Соколова', 2, NULL, NULL, N'elena@teacher.tech', N'+79993334455', CAST(N'2026-02-02T21:30:19.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[Visitors] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitorTypes] ON 

INSERT [dbo].[VisitorTypes] ([TypeID], [TypeName], [Description]) VALUES (1, N'Студент', N'Обучающийся техникума')
INSERT [dbo].[VisitorTypes] ([TypeID], [TypeName], [Description]) VALUES (2, N'Преподаватель', N'Преподаватель техникума')
INSERT [dbo].[VisitorTypes] ([TypeID], [TypeName], [Description]) VALUES (3, N'Выпускник', N'Выпускник техникума')
SET IDENTITY_INSERT [dbo].[VisitorTypes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__5E55825B941FF459]    Script Date: 02.03.2026 11:09:08 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Excursions_EmployeeID]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Excursions_EmployeeID] ON [dbo].[Excursions]
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Excursions_ExcursionDate]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Excursions_ExcursionDate] ON [dbo].[Excursions]
(
	[ExcursionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Excursions_Status]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Excursions_Status] ON [dbo].[Excursions]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExcursionVisitors_ExcursionID]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_ExcursionVisitors_ExcursionID] ON [dbo].[ExcursionVisitors]
(
	[ExcursionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExcursionVisitors_VisitorID]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_ExcursionVisitors_VisitorID] ON [dbo].[ExcursionVisitors]
(
	[VisitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Exponats__D6D65CC8B4FC8F09]    Script Date: 02.03.2026 11:09:08 ******/
ALTER TABLE [dbo].[Exponats] ADD UNIQUE NONCLUSTERED 
(
	[InventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exponats_CategoryID]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Exponats_CategoryID] ON [dbo].[Exponats]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Exponats_InventoryNumber]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Exponats_InventoryNumber] ON [dbo].[Exponats]
(
	[InventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Exponats_Status]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Exponats_Status] ON [dbo].[Exponats]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Visitors_LastName]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Visitors_LastName] ON [dbo].[Visitors]
(
	[LastName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Visitors_TypeID]    Script Date: 02.03.2026 11:09:08 ******/
CREATE NONCLUSTERED INDEX [IX_Visitors_TypeID] ON [dbo].[Visitors]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VisitorT__D4E7DFA89E55DF44]    Script Date: 02.03.2026 11:09:08 ******/
ALTER TABLE [dbo].[VisitorTypes] ADD UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Excursions] ADD  DEFAULT ((25)) FOR [MaxVisitors]
GO
ALTER TABLE [dbo].[Excursions] ADD  DEFAULT ((0)) FOR [CurrentVisitors]
GO
ALTER TABLE [dbo].[Excursions] ADD  DEFAULT ('Запланирована') FOR [Status]
GO
ALTER TABLE [dbo].[Excursions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ExcursionVisitors] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[ExcursionVisitors] ADD  DEFAULT ((0)) FOR [Attended]
GO
ALTER TABLE [dbo].[ExhibitionExponats] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ExhibitionExponats] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[Exhibitions] ADD  DEFAULT ('Планируется') FOR [Status]
GO
ALTER TABLE [dbo].[Exhibitions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Exponats] ADD  DEFAULT ('Хорошее') FOR [Condition]
GO
ALTER TABLE [dbo].[Exponats] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Exponats] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Visitors] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Excursions]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Excursions]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Excursions]  WITH CHECK ADD FOREIGN KEY([ExhibitionID])
REFERENCES [dbo].[Exhibitions] ([ExhibitionID])
GO
ALTER TABLE [dbo].[ExcursionVisitors]  WITH CHECK ADD FOREIGN KEY([ExcursionID])
REFERENCES [dbo].[Excursions] ([ExcursionID])
GO
ALTER TABLE [dbo].[ExcursionVisitors]  WITH CHECK ADD FOREIGN KEY([VisitorID])
REFERENCES [dbo].[Visitors] ([VisitorID])
GO
ALTER TABLE [dbo].[ExhibitionExponats]  WITH CHECK ADD FOREIGN KEY([ExhibitionID])
REFERENCES [dbo].[Exhibitions] ([ExhibitionID])
GO
ALTER TABLE [dbo].[ExhibitionExponats]  WITH CHECK ADD FOREIGN KEY([ExponatID])
REFERENCES [dbo].[Exponats] ([ExponatID])
GO
ALTER TABLE [dbo].[Exhibitions]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Exponats]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Exponats]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Visitors]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[VisitorTypes] ([TypeID])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddExponat]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Добавление нового экспоната
CREATE PROCEDURE [dbo].[sp_AddExponat]
    @InventoryNumber NVARCHAR(50),
    @Name NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @YearCreated INT,
    @CategoryID INT,
    @Condition NVARCHAR(50) = 'Хорошее',
    @History NVARCHAR(MAX) = NULL,
    @CreatedBy INT
AS
BEGIN
    BEGIN TRY
        -- Проверка уникальности инвентарного номера
        IF EXISTS (SELECT 1 FROM Exponats WHERE InventoryNumber = @InventoryNumber)
        BEGIN
            THROW 50003, 'Экспонат с таким инвентарным номером уже существует', 1;
        END
        
        INSERT INTO Exponats (
            InventoryNumber, Name, Description, YearCreated, 
            CategoryID, Condition, History, CreatedBy
        )
        VALUES (
            @InventoryNumber, @Name, @Description, @YearCreated,
            @CategoryID, @Condition, @History, @CreatedBy
        );
        
        SELECT SCOPE_IDENTITY() AS NewExponatID;
        
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AuthenticateUser]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Авторизация пользователя
CREATE PROCEDURE [dbo].[sp_AuthenticateUser]
    @Login NVARCHAR(50),
    @Password NVARCHAR(100)
AS
BEGIN
    SELECT 
        EmployeeID,
        FirstName,
        LastName,
        Position,
        Email,
        IsActive
    FROM Employees
    WHERE Login = @Login 
      AND Password = @Password
      AND IsActive = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExcursion]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 10. Создание новой экскурсии
CREATE PROCEDURE [dbo].[sp_CreateExcursion]
    @ExhibitionID INT,
    @EmployeeID INT,
    @ExcursionDate DATE,
    @StartTime TIME,
    @EndTime TIME,
    @MaxVisitors INT = 25,
    @MeetingPoint NVARCHAR(200),
    @CreatedBy INT
AS
BEGIN
    BEGIN TRY
        -- Проверка доступности экскурсовода
        IF EXISTS (
            SELECT 1 FROM Excursions 
            WHERE EmployeeID = @EmployeeID 
              AND ExcursionDate = @ExcursionDate
              AND ((StartTime <= @StartTime AND EndTime > @StartTime)
                OR (StartTime < @EndTime AND EndTime >= @EndTime))
        )
        BEGIN
            THROW 50004, 'Экскурсовод уже занят в это время', 1;
        END
        
        INSERT INTO Excursions (
            ExhibitionID, EmployeeID, ExcursionDate, 
            StartTime, EndTime, MaxVisitors, 
            MeetingPoint, CreatedBy
        )
        VALUES (
            @ExhibitionID, @EmployeeID, @ExcursionDate,
            @StartTime, @EndTime, @MaxVisitors,
            @MeetingPoint, @CreatedBy
        );
        
        SELECT SCOPE_IDENTITY() AS NewExcursionID;
        
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAttendanceReport]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Получение отчета по посещаемости
CREATE PROCEDURE [dbo].[sp_GetAttendanceReport]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT 
        v.TypeID,
        vt.TypeName,
        COUNT(DISTINCT ev.VisitorID) AS UniqueVisitors,
        COUNT(ev.ExcursionVisitorID) AS TotalVisits
    FROM ExcursionVisitors ev
    JOIN Visitors v ON ev.VisitorID = v.VisitorID
    JOIN VisitorTypes vt ON v.TypeID = vt.TypeID
    JOIN Excursions e ON ev.ExcursionID = e.ExcursionID
    WHERE e.ExcursionDate BETWEEN @StartDate AND @EndDate
      AND ev.Attended = 1
    GROUP BY v.TypeID, vt.TypeName
    ORDER BY TotalVisits DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryStatistics]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ДОПОЛНИТЕЛЬНЫЕ ХРАНИМЫЕ ПРОЦЕДУРЫ ДЛЯ ПРИЛОЖЕНИЯ:

-- 16. Получение количества экспонатов по категориям для статистики
CREATE PROCEDURE [dbo].[sp_GetCategoryStatistics]
AS
BEGIN
    SELECT 
        c.CategoryName,
        COUNT(e.ExponatID) AS ExponatCount,
        SUM(CASE WHEN e.Status = 1 THEN 1 ELSE 0 END) AS Available,
        SUM(CASE WHEN e.Status = 0 THEN 1 ELSE 0 END) AS Unavailable,
        AVG(CASE WHEN e.YearCreated IS NOT NULL THEN e.YearCreated END) AS AvgYear
    FROM Categories c
    LEFT JOIN Exponats e ON c.CategoryID = e.CategoryID
    GROUP BY c.CategoryName
    ORDER BY ExponatCount DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExcursionSchedule]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Получение расписания экскурсий
CREATE PROCEDURE [dbo].[sp_GetExcursionSchedule]
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    IF @StartDate IS NULL
        SET @StartDate = CAST(GETDATE() AS DATE);
        
    IF @EndDate IS NULL
        SET @EndDate = DATEADD(MONTH, 1, @StartDate);
    
    SELECT 
        e.ExcursionID,
        e.ExcursionDate,
        e.StartTime,
        e.EndTime,
        ex.Name AS ExhibitionName,
        CONCAT(emp.FirstName, ' ', emp.LastName) AS GuideName,
        e.MaxVisitors,
        e.CurrentVisitors,
        e.Status,
        e.MeetingPoint
    FROM Excursions e
    JOIN Exhibitions ex ON e.ExhibitionID = ex.ExhibitionID
    JOIN Employees emp ON e.EmployeeID = emp.EmployeeID
    WHERE e.ExcursionDate BETWEEN @StartDate AND @EndDate
      AND e.Status IN ('Запланирована', 'В процессе')
    ORDER BY e.ExcursionDate, e.StartTime;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExcursionVisitors]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11. Получение списка посетителей экскурсии
CREATE PROCEDURE [dbo].[sp_GetExcursionVisitors]
    @ExcursionID INT
AS
BEGIN
    SELECT 
        v.VisitorID,
        CONCAT(v.FirstName, ' ', v.LastName) AS FullName,
        vt.TypeName,
        v.GroupName,
        v.Email,
        v.Phone,
        ev.RegistrationDate,
        ev.Attended
    FROM ExcursionVisitors ev
    JOIN Visitors v ON ev.VisitorID = v.VisitorID
    JOIN VisitorTypes vt ON v.TypeID = vt.TypeID
    WHERE ev.ExcursionID = @ExcursionID
    ORDER BY ev.RegistrationDate;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExponatDetails]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 15. Получение детальной информации об экспонате
CREATE PROCEDURE [dbo].[sp_GetExponatDetails]
    @ExponatID INT
AS
BEGIN
    SELECT 
        e.*,
        c.CategoryName,
        CONCAT(emp.FirstName, ' ', emp.LastName) AS CreatedByName
    FROM Exponats e
    LEFT JOIN Categories c ON e.CategoryID = c.CategoryID
    LEFT JOIN Employees emp ON e.CreatedBy = emp.EmployeeID
    WHERE e.ExponatID = @ExponatID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExponatsForExhibition]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. Получение экспонатов для выставки
CREATE PROCEDURE [dbo].[sp_GetExponatsForExhibition]
    @ExhibitionID INT
AS
BEGIN
    SELECT 
        e.ExponatID,
        e.InventoryNumber,
        e.Name,
        e.Description,
        e.YearCreated,
        c.CategoryName,
        e.Condition,
        ee.DisplayOrder
    FROM ExhibitionExponats ee
    JOIN Exponats e ON ee.ExponatID = e.ExponatID
    JOIN Categories c ON e.CategoryID = c.CategoryID
    WHERE ee.ExhibitionID = @ExhibitionID
    ORDER BY ee.DisplayOrder;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExponatStatistics]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Получение статистики по экспонатам
CREATE PROCEDURE [dbo].[sp_GetExponatStatistics]
AS
BEGIN
    -- Общая статистика
    SELECT 
        COUNT(*) AS TotalExponats,
        SUM(CASE WHEN Status = 1 THEN 1 ELSE 0 END) AS AvailableExponats,
        SUM(CASE WHEN Status = 0 THEN 1 ELSE 0 END) AS UnavailableExponats,
        COUNT(DISTINCT CategoryID) AS UniqueCategories
    FROM Exponats;
    
    -- Статистика по категориям
    SELECT 
        c.CategoryName,
        COUNT(e.ExponatID) AS ExponatCount,
        ROUND(COUNT(e.ExponatID) * 100.0 / NULLIF((SELECT COUNT(*) FROM Exponats), 0), 2) AS Percentage
    FROM Categories c
    LEFT JOIN Exponats e ON c.CategoryID = e.CategoryID
    GROUP BY c.CategoryName
    ORDER BY ExponatCount DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUpcomingExcursions]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 17. Получение ближайших экскурсий
CREATE PROCEDURE [dbo].[sp_GetUpcomingExcursions]
    @DaysAhead INT = 7
AS
BEGIN
    SELECT 
        e.ExcursionID,
        e.ExcursionDate,
        e.StartTime,
        ex.Name AS ExhibitionName,
        CONCAT(emp.FirstName, ' ', emp.LastName) AS GuideName,
        e.CurrentVisitors,
        e.MaxVisitors,
        (e.MaxVisitors - e.CurrentVisitors) AS AvailablePlaces
    FROM Excursions e
    JOIN Exhibitions ex ON e.ExhibitionID = ex.ExhibitionID
    JOIN Employees emp ON e.EmployeeID = emp.EmployeeID
    WHERE e.ExcursionDate BETWEEN CAST(GETDATE() AS DATE) 
                           AND DATEADD(DAY, @DaysAhead, CAST(GETDATE() AS DATE))
      AND e.Status = 'Запланирована'
    ORDER BY e.ExcursionDate, e.StartTime;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetVisitorHistory]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 19. Получение истории посещений посетителя
CREATE PROCEDURE [dbo].[sp_GetVisitorHistory]
    @VisitorID INT
AS
BEGIN
    SELECT 
        e.ExcursionDate,
        e.StartTime,
        ex.Name AS ExhibitionName,
        ev.Attended,
        ev.RegistrationDate
    FROM ExcursionVisitors ev
    JOIN Excursions e ON ev.ExcursionID = e.ExcursionID
    JOIN Exhibitions ex ON e.ExhibitionID = ex.ExhibitionID
    WHERE ev.VisitorID = @VisitorID
    ORDER BY e.ExcursionDate DESC, e.StartTime DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkAttendance]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 14. Отметка посещения
CREATE PROCEDURE [dbo].[sp_MarkAttendance]
    @ExcursionID INT,
    @VisitorID INT,
    @Attended BIT
AS
BEGIN
    UPDATE ExcursionVisitors
    SET Attended = @Attended
    WHERE ExcursionID = @ExcursionID 
      AND VisitorID = @VisitorID;
    
    SELECT 'Посещение отмечено' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterForExcursion]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Запись посетителя на экскурсию
CREATE PROCEDURE [dbo].[sp_RegisterForExcursion]
    @ExcursionID INT,
    @VisitorID INT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Проверка наличия свободных мест
        DECLARE @MaxVisitors INT, @CurrentVisitors INT;
        
        SELECT @MaxVisitors = MaxVisitors, @CurrentVisitors = CurrentVisitors
        FROM Excursions WHERE ExcursionID = @ExcursionID;
        
        IF @CurrentVisitors >= @MaxVisitors
        BEGIN
            THROW 50001, 'На экскурсию нет свободных мест', 1;
        END
        
        -- Проверка, не записан ли уже
        IF EXISTS (SELECT 1 FROM ExcursionVisitors 
                   WHERE ExcursionID = @ExcursionID AND VisitorID = @VisitorID)
        BEGIN
            THROW 50002, 'Посетитель уже записан на эту экскурсию', 1;
        END
        
        -- Запись посетителя
        INSERT INTO ExcursionVisitors (ExcursionID, VisitorID)
        VALUES (@ExcursionID, @VisitorID);
        
        -- Обновление счетчика
        UPDATE Excursions 
        SET CurrentVisitors = CurrentVisitors + 1
        WHERE ExcursionID = @ExcursionID;
        
        COMMIT TRANSACTION;
        
        SELECT 'Посетитель успешно записан' AS Result;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchExcursionsByDate]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 18. Поиск экскурсий по дате
CREATE PROCEDURE [dbo].[sp_SearchExcursionsByDate]
    @SearchDate DATE
AS
BEGIN
    SELECT 
        e.ExcursionID,
        e.StartTime,
        e.EndTime,
        ex.Name AS ExhibitionName,
        emp.FirstName + ' ' + emp.LastName AS GuideName,
        e.CurrentVisitors,
        e.MaxVisitors,
        e.Status
    FROM Excursions e
    JOIN Exhibitions ex ON e.ExhibitionID = ex.ExhibitionID
    JOIN Employees emp ON e.EmployeeID = emp.EmployeeID
    WHERE e.ExcursionDate = @SearchDate
    ORDER BY e.StartTime;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchExponats]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Поиск экспонатов по названию или описанию
CREATE PROCEDURE [dbo].[sp_SearchExponats]
    @SearchTerm NVARCHAR(200)
AS
BEGIN
    SELECT 
        e.ExponatID,
        e.InventoryNumber,
        e.Name,
        e.Description,
        e.YearCreated,
        c.CategoryName,
        e.Condition
    FROM Exponats e
    LEFT JOIN Categories c ON e.CategoryID = c.CategoryID
    WHERE e.Name LIKE '%' + @SearchTerm + '%'
       OR e.Description LIKE '%' + @SearchTerm + '%'
       OR e.History LIKE '%' + @SearchTerm + '%'
    ORDER BY e.Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchVisitors]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 12. Поиск посетителей
CREATE PROCEDURE [dbo].[sp_SearchVisitors]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    SELECT 
        v.VisitorID,
        CONCAT(v.FirstName, ' ', v.LastName) AS FullName,
        vt.TypeName,
        v.GroupName,
        v.CourseNumber,
        v.Email,
        v.Phone
    FROM Visitors v
    JOIN VisitorTypes vt ON v.TypeID = vt.TypeID
    WHERE v.FirstName LIKE '%' + @SearchTerm + '%'
       OR v.LastName LIKE '%' + @SearchTerm + '%'
       OR v.Email LIKE '%' + @SearchTerm + '%'
       OR v.Phone LIKE '%' + @SearchTerm + '%'
    ORDER BY v.LastName, v.FirstName;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExcursionStatus]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 13. Обновление статуса экскурсии
CREATE PROCEDURE [dbo].[sp_UpdateExcursionStatus]
    @ExcursionID INT,
    @Status NVARCHAR(20)
AS
BEGIN
    UPDATE Excursions
    SET Status = @Status
    WHERE ExcursionID = @ExcursionID;
    
    SELECT 'Статус успешно обновлен' AS Result;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExponat]    Script Date: 02.03.2026 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 20. Обновление информации об экспонате
CREATE PROCEDURE [dbo].[sp_UpdateExponat]
    @ExponatID INT,
    @Name NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Condition NVARCHAR(50),
    @Status BIT
AS
BEGIN
    UPDATE Exponats
    SET 
        Name = @Name,
        Description = @Description,
        Condition = @Condition,
        Status = @Status
    WHERE ExponatID = @ExponatID;
    
    SELECT 'Информация об экспонате обновлена' AS Result;
END
GO
USE [master]
GO
